
.header {
	border: 1px solid #008080;
	height: 150%;
	width: 90%;
	text-align: center;
    font-family: comic sans ms;
    margin-left: 5%;
     }
.title { 
	color: #008080;
	text-transform: uppercase;

}
.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 200px;

	margin-top: 1%;
	margin-left: 5%;
	font-family: comic sans ms;
}
.sidebar li a {
	display: block;
	background-color: #008080;
	color: white;
	text-decoration: none;
	font-size: 20px;
	line-height: 30px;
	padding-left: 10px;
	height: 150px;
	text-align: center;
	}
.sidebar li a:hover {
	background-color:#e7dede;
	color: black;	
}
.content {
	margin-left: 21%;
	margin-top: -45%;

}
.content img {
	height: 54%;
	width: 94%;
}
.content a {
	text-decoration: none;
}
.content h3:hover {

	color: #008080; 
}
.content h3{
	margin-top: -0.5%;
	font-family: comic sans ms;
	color: black;
	margin-right: 6%;
}
.main {
	background-color: #008080;
	margin-left: 21%;
	margin-top: 2.1%;
	margin-right: 5%;
}
.main h1, h4, p{
	text-align: center;
}
.main h1{
	font-family: comic sans ms;
}
.main img {
	margin-left: 3%;
	float: left;
	margin-top: 5%;
}
.footer {
	margin-top: 1%;
	font-family: comic sans ms;
	color: gray;
	background-color: #e7dede;
}

